<div id="<%= dom_id customer %>">
  <p>
    <strong>Cust fname:</strong>
    <%= customer.cust_fname %>
  </p>

  <p>
    <strong>Cust lname:</strong>
    <%= customer.cust_lname %>
  </p>

  <p>
    <strong>Cust email:</strong>
    <%= customer.cust_email %>
  </p>

  <p>
    <strong>Cust phone number:</strong>
    <%= customer.cust_phone_number %>
  </p>

</div>
