<h2 class = "text-center mt-4" >List of All Products</h2><hr>

<table class = "table table-bordered">
  <thead class = "table-light text-center">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Active</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class = "text-center">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.capacity %></td>
        <td><%= product.is_active %></td>
        <td><%= product.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
