<div class = "container-fluid" >
  <h2 class = "text-center mt-4" >Product Details</h2><hr>
  
  <p class = "lead" >
    <label><strong>Product Title : </strong></label>
    <%= @product.title %>
  </p>

  <p class = "lead" >
    <label><strong>Description : </strong></label>
    <%= @product.description %>
  </p>

  <p class = "lead" >
    <label><strong>Product Price : </strong></label>
    <%= @product.price %>
  </p>

  <p class = "lead" >
    <label><strong>Capacity : </strong></label>
    <%= @product.capacity %>
  </p>

  <p class = "lead" >
    <label><strong>Product Status : </strong></label>
    <%= @product.status %>
  </p>

  <div class = "text-center"><br>
    <%= link_to 'Back', { controller: 'products', action: 'index'}, class: "btn btn-primary" %>
  </div>
</div>
